
ul.megadropdown-topnav {
	margin: 0; 
	padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	font-size: 1em;
	background-color: #544E4F;
	border-bottom: #F8981D solid 3px;
}
ul.megadropdown-topnav a.menudropdown-menu-link{
	color: #fff;
	text-decoration: none;
}
.menudropdown-topnav-li {
	float: left;
	margin: 0; 
	position: relative;
	padding: 2px 20px;
	background: transparent url(img/megadropdown-seperator.png) left center no-repeat;
}
.menudropdown-topnav-li-index-1{
	border: none;
	background-image: none;
}
ul.megadropdown-topnav .menudropdown-with-dropdown a.menudropdown-menu-link{
	background: transparent url(img/megadropdown-arrow.png) 100% center no-repeat;
	padding-right: 12px;
}
ul.menudropdown-subnav li {
	float: left;
	margin: 0; 
	padding: 0;
	position: relative;
	width: auto;
}
ul.menudropdown-menu-link li a {
	float: left; 
	color: #fff;
}
.megadropdown-dropdown{
  display: none;
  position: absolute; 
  left: 0;
  background-color: #544E4F;
  padding: 10px 20px;
  float: left;
  /*--Bottom right rounded corner--*/
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /*--Bottom left rounded corner--*/
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  z-index: 999;
  border: 3px solid #F8981D;
  border-top: none;
  width: 400px;
  margin-top: 2px;
  color: #fff;
}
.megadropdown-topnav .megadropdown-dropdown ul,
.megadropdown-topnav .megadropdown-dropdown li{
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
}
.megadropdown-topnav .megadropdown-dropdown li{
	background: transparent url(img/megadropdown-left-arrow.png) left 7px no-repeat;
	margin-bottom: 5px;
	padding-left: 15px;
}
.megadropdown-topnav .megadropdown-dropdown li a{
	color: #fff;
}
.megadropdown-dropdown .menu .menu{
	margin-left: 10px;
}
